@import './reset';
@import './variables/global';
@import './themes/dark';
@import './themes/light';
@import 'https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap';


body{
    font: var(--font-l);
}

.app {
    display: flex;
    position: relative;
}

p, h5{
    margin-block-start: 0;
    margin-block-end: 0;
}
