.nextLink {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 15px;
    color: var(--secondary-color);

    svg {
        width: 30px;
        height: 30px;
    }
}

.separated {
    margin-top: 150px;
}
