.dark {
    --bg-color: #1c1b1b;
    --extra-bg-color: #29c944;
    --dropdown-bg-color: #0e0e0e;
    --dropdown-secondary-bg-color: #504d4d;
    --sidebar-bg-color: #0e0e0e;
    --primary-color: #fcfcfc;
    --secondary-color: #e6e4e4;
}
