#dark {
    --bg-color: #1c1b1b;
    --secondary-bg-color:rgb(14 14 14 / 100%);
    --secondary-bg-hover-color: rgb(14 14 14 / 40%);
    --primary-color: #fcfcfc;
    --secondary-color: #e6e4e4;
    --player-color: #1c1b1b;
    --dropdown-secondary-bg-color: #504d4d;
    --shadow-color: rgb(230 240 229 / 25%);
}
