:root {
    --bg-color: #fcfcfc;
    --secondary-bg-color:#e6e4e4;
    --primary-color: #1c1b1b;
    --secondary-color: #0e0e0e;
    --player-color: #4DC323;
    --dropdown-secondary-bg-color: #504d4d;
    --shadow-color: rgb(9 9 9 / 25%);
}
