.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    width: 100%;
    height: var(--navbar-height);
    background-color: var(--bg-color);

    svg{
        fill: var(--secondary-bg-color);
        stroke: var(--player-text-color);
    }
}

.button{
    margin-right: 20px;


}

